:root {
  /* === Colors */
  --bg-active-color: #5570f1;
  --bg-light-color: #ffffff;
  --bg-alt-active-color: #5e63661a;
  --text-light-color: #53545c;
  --text-danger-color: #cc5f5f;
  --bg-danger-color: #f57e77;
  --text-success-color: #519c66;
  --bg-success-color: #32936f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
